@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


body{
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.header{
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10000000;
    justify-content: space-between;

}
